.creatorText {
  color: var(--White-100, #fff);
  font-size: 24px;
  line-height: 30px;
}
.creatorText > p {
  color: var(--White-40, rgba(255, 255, 255, 0.4));
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.creatorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cardContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 283px;
  height: 411px;
  border-radius: 16px;
  border: 1px solid var(--White-20, rgba(255, 255, 255, 0.2));
  background: var(--White-05, rgba(255, 255, 255, 0.05));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.cards {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}
.cardImg:hover {
  cursor: pointer;
}
.hide {
  display: none;
}
._video_card_title_1w3qv_37 {
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.117px;
  position: absolute;
  bottom: 12px;
  left: 15px;
  mix-blend-mode: plus-lighter;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  z-index: 2;
}
.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
